<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<p>Commenti del post numero {{ post_id }}</p>
{% csrf_token %}
{% for comment in comments %}
    <h2>{{ comment.subtitle }}</h2>
    <p>{{ comment.text }}</p>
    <b>{{ comment.user.first_name }}</b>
    <i>{{ comment.date_time }}</i>
{% endfor %}

<script>
    const xmlhttp = new XMLHttpRequest()
    xmlhttp.onreadystatechange = function(){
        if (xmlhttp.readyState === 4){
            console.log(xmlhttp.status)
            console.log(xmlhttp.responseText)
        }
    }
</script>
</body>
</html>