<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Nuovo</h1>
{{ blog_form }}
<p>Prova Body</p>
{% csrf_token %}
{% for blog_post in blog_posts %}
    <h2>{{ blog_post.title }}</h2>
    <p>{{ blog_post.text }}</p>
    <b>{{ blog_post.user.first_name }}</b>
    <i>{{ blog_post.date_time }}</i>
{% endfor %}

<script>
    const xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState === 4) {
            console.log(xmlhttp.status);
            console.log(xmlhttp.responseText)
        }
    }

    function post() {
        let fd = new FormData();
        fd.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
        xmlhttp.open("post", "/prova/test", true);
        xmlhttp.send(fd);
    }

    function put() {
        let fd = new FormData();
        fd.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
        xmlhttp.open("put", "/prova/test/1/", true);
        xmlhttp.send(fd);
    }

    function del() {
        let fd = new FormData();
        fd.append('csrfmiddlewaretoken', document.getElementsByName('csrfmiddlewaretoken')[0].value);
        xmlhttp.open("delete", "/prova/test/1/", true);
        xmlhttp.send(fd);
    }
</script>
</body>
</html>